<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Введите сообщение" />
        </label>
        <label>
            <input type="text" name="tag" placeholder="Тэг">
        </label>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="filter">
    <label>
        <input type="text" name="filter">
    </label>
    <button type="submit">Найти</button>
</form>

<div>
    <b>${comment.id}</b>
    <span>${text}</span>
    <i>${tag}</i>
</div>

</body>
</html>